.s-container{
    position: relative;
}

.s-container .swiper{
    width: 70%;
    height: 12rem;
    position: unset;
}


.s-container .swiper-slide{
    background:white;
    display: flex;
    border-radius: 10px;
    padding:1rem;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}



.Programs{
    display: flex;
    flex-direction: column;
    gap:2rem;
    padding:0 2rem;
    }
    



.Programs-header{
    display: flex;
    gap: 3rem 3rem;
    font-weight: bold;
    font-size:3rem;
    justify-content: center;
    color:white;
    text-transform: uppercase;
    font-style: italic;
}

.s-container .swiper-button-prev{
    left:6rem;

}


.s-container .swiper-button-next{
    right:6rem;

}


.s-container .swiper-button-prev,.s-container .swiper-button-next{
    color: azure;
}


.left-s{
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
}

.name{
    display: flex;
    flex-direction: column;
}


.name>:nth-child(1){
    font-style: 1.4rem;
    font-weight: 600;
}

.name>:nth-child(2){
    font-style: 0.7rem;
    
}

.left-s>:nth-child(2){
    font-weight: bold;
    font-size: 2rem;
}

.left-s>:nth-child(3){
 font-style: 0.6rem;
 border: 1px solid black;
 padding: 5px 10px;
 width: max-content;
 border-radius: 15px;;
}


@media  screen and (max-width:856px) {
    .s-container .swiper{
        width: 90%;
        height: 10rem;
    }

    .s-container .swiper-button-prev,
    .s-container .swiper-button-next{
        display: none;
    }
    
}

@media screen and (max-width: 768px){


    .Programs-header{
        display: flex;
        gap: 1rem 1rem;
        font-weight: bold;
        font-size:2rem;
        justify-content: center;
        color:white;
        text-transform: uppercase;
        font-style: italic;
    }

}